.git
.github
.idea
.playwright-cli
.vscode
jte-classes
node_modules
output
storage
target
test-results
*.log
*.png
*.jpg
*.jpeg
*.zip
!src/main/resources/static/images/*.jpg
!src/main/resources/static/apple-touch-icon.png
